

#videoBG{
    position: absolute;
    z-index: -10000;
    background: url(../videos/poster.png) no-repeat center;
    background-size: cover;
    overflow: hidden;

}
@media(min-aspect-ratio:16/9) {
    #videoBG{
        width: 100%;
        height: auto;
        z-index: -299;
        overflow: hidden;
    }
}
@media(max-aspect-ratio:16/9) {
    #videoBG{
        width: auto;
        height: 100%;
        z-index: -21391;
        overflow: hidden;
    }
}