@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

.body{
    background: rgb(0, 0, 0);
}


.card{     
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background-color: #ffe8ef;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #38052d;
    z-index: 1;
}

.cardText{
    font-family: 'Rubik', sans-serif;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-align: justify;
    color: black;
    padding: 40px;
   
}

.tittle{
    font-weight: 900;
    text-align: center;
    z-index: 3;
}

.text{
    font-size: 300;
    z-index: 4;
}

.flap{
    width: 100%;
    height: 100%;
    z-index: 5;
}

.flap::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;;
    background-color: #252323;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
   
}
.flap::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;;
    right: 0;
    background-color: #252323;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.card:hover .flap::after{
    transform: translateX(300px);
    z-index: 8;
}

.card:hover .flap::before{
    transform: translateX(-300px);
    z-index: 9;
}


